{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="page-header">
        <h1>404 <small>page could not be found</small></h1>
    </div>

    <p>
    {% if error == 'spiffy-mvc.error.no_controller' %}
        <div class="alert bg-danger text-danger">
            Controller <strong>{{ controller }}</strong> does not exist.
        </div>

        <h2>More information</h2>
        <p>
            This error occurs when the dispatcher can not locate the controller specified. Verify your
            controller class is correct as shown below.
        </p>
        <pre>
                return [
                    'spiffy.mvc' => [
                        'controllers' => [
                            // The value below should point to the fully qualified class name of your controller.
                            '{{ controller }}' => <strong>'Verify\Controller\Is\Correct'</strong>
                        ]
                    ]
                ];
            </pre>
    {% elseif error == 'spiffy-mvc.error.no_action' %}
        <div class="alert bg-danger text-danger">
            Action <strong>{{ action }}</strong> on controller <strong>{{ controller }}</strong> does not exist.
        </div>

        <h2>More information</h2>
        <p>
            This error occurs when you have specified an action that does not exist on the requested controller.
            Verify that the action you specified exists. See below for additional information.
        </p>
        <pre>
                return [
                    'spiffy.mvc' => [
                        'routes' => [
                            // {{ action }} does not exist on {{ controller }}.
                            'home' => ['/', '{{ controller }}', '{{ action }}'],
                        ]
                    ];
                ];
            </pre>
    {% elseif error == 'spiffy-mvc.error.no_route' %}
        <div class="alert bg-danger text-danger">
            The router failed to match any routes.
        </div>

        <h2>More information</h2>
        <p>
            This error occurs when the router fails to match any routes available. You can define your routes
            by setting them in your config as shown below.
        </p>
        <pre>
                return [
                    'spiffy.mvc' => [
                        'routes' => [
                            'home' => ['/', 'home'],
                            'article' => ['/article/{id:\d+}{-slug?}', 'article', 'view']
                        ]
                    ];
            </pre>
    {% else %}
        An unknown error occured.
    {% endif %}
    </p>
{% endblock %}
